.portfolio__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 64px;
}

.header__subtitle {
    font-size: var(--small-font-size);
    display: block;
}
.portfolio__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__navbar {
    display: flex;
    width: 100%;
}

.portfolio__navbar-list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    column-gap: 0.75rem;
    margin: 5px 30px 5px 30px;
}

.nav-item {
    color: var(--title-color);
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
}

.nav-item:hover {
    background-color: var(--title-color);
    color: var(--container-color);
}

.nav-item.active {
    background-color: var(--title-color);
    color: var(--container-color);
}

.projects__container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
}

.project__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1rem;

}
