/* ============== GOOGLE FONTS ================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* ================ VARIABLES CSS ================ */
:root {
    --header-height: 3rem;

    /* ================ Colors ================ */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 10%);
    --text-color: hsl(var(--hue), var(--sat), 40%);
    --body-color: hsl(var(--hue), var(--sat), 95%);
    --container-color: #fff;
}

/* ================ GENERAL CSS ================ */

/* ================ Font & Typography ================ */

/* ================ Font Weight ================= */

/* ================ Margenes Bottom ================ */

/* ================ z index ================ */
/* Responsive typography  */
/* ================ BASE ================ */
/* ================ RESUSABLE CSS CLASSES ================ */
/* ================ LAYOUT ================ */
/* ================ BUTTONS ================ */
/* ================ BREAKPOINTS ================ */
/* For medium devices  */
/* For small devices  */






